
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


section {
  display: flex;
  align-items: center;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button:disabled {
  opacity: 0.3 !important;
  background-color: gray !important;
}
mat-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

/* Add spacing between cards, forms, etc. */
mat-card,
form.example-form,
mat-divider {
  margin-bottom: 24px; /* adjust as needed */
}

